/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color styles */
:root{
--secondary-color: #0084FD;
--dark-color: #333333;
--light-color: #FFFFFF;
--primary-color: #9792E4;
--contrast-color: #FDC15F;
--bg-card: #B5DDFF;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
    scroll-behavior: smooth;
}


/* Utilities */
.btn-white{
    background-color: var(--light-color);
    color: var(--dark-color);
}
.btn-blue{
    background-color: var(--secondary-color);
    color: var(--light-color);
}
.button{
    border-radius: 30px;
    padding: 1rem 3rem;
}
.container{
    margin: 0 auto;
    padding: 15px;
    max-width: 620px;
}
.center{
    text-align: center;
}
section{
    scroll-margin-top:80px;
}
p{
    line-height: 2rem;
}
/* Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--secondary-color);
    color: var(--light-color);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
ul{
    list-style: none;
}
header nav ul{
    display: none;
}
header nav li{
    padding-left: 40px;
}
header nav a{
    color: var(--light-color);
    text-decoration: none;
}
nav i{
    font-size: 2.5rem;
}
/* Main */
main{
    margin-top: 80px;
}
.even{
    background-color: var(--primary-color);
}
.card, .double{
    background-color: var(--bg-card);
    border-radius: 20px;
    width: 100%;
    padding: 40px 40px 0 40px;
}
/* #Intro */
#intro .card, #intro .double{
    margin-bottom: 30px;
    
}

#intro .card i{
    font-size: 5rem;
    color: var(--secondary-color);
}
.double-img img{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;

}
#intro .double h2, #intro .card h2{
    color: var(--secondary-color);
    padding-bottom: 30px;
}
#intro .double  p, #intro .card p{
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 30px;
}
#intro .double a, #intro .card a{
    font-weight: bold;
    text-decoration: none;
}
#intro .card i{
    padding-bottom: 30px;
}
.double-text span{
    text-align: center;
}

#intro .container{
    gap:20px;
}
/* #Planning */
.wrapped-left, .wrapped-right{
    padding: 40px 40px;
}
.plans img{
    width: 100%;
}
.white-bg{
    background-color: var(--light-color);
    border-radius: 50px;
    padding-bottom: 30px;
}
.wrapped-left h3{
    color: var(--light-color);
    padding: 50px 0;
    font-size: 3rem;
}
.wrapped-left p{
    color: var(--light-color);
}

.wrapped-right h3{
    font-size: 1.5rem;
    padding-top: 30px;
}
.wrapped-right p{
    font-style: italic;
    padding: 30px 30px;
}
.wrapped-right i{
    background-color: var(--primary-color);
    padding: 25px;
    border-radius: 50%;
}
/* Testimonials */

.user{
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 30px;
    padding: 40px;
    margin: 40px 0;
}
.box-img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer */

footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}


/* Mediaquery */

@media screen and (min-width: 768px) {

    .container{
        max-width: 750px;
    }
    
    .d-flex{
        display: flex;
        flex-flow: row wrap;
        
    }
    .double{
        width: calc(((100% / 3) - 10px ) * 2);
        flex-flow: row nowrap;
        margin-bottom: 0;
    }
    .card{
        width: calc((100% / 3) - 20px);
        margin-bottom: 0;
    }
   
    .wrapped-left h3{
        font-size: 4rem;
    }
    .user{
        text-align: start;
        align-items: center;
        justify-content: start;
    }
    .box-text{
        width:60%;
    }

}
@media screen and (min-width: 992px) {

    header nav ul{
        display: flex;
    }
    header nav i:first-of-type{
        display: none;
    }
    .container{
        max-width: 950px;
    }
    .double{
        display: flex;
    }
    .double-img{
        width:50%;
        position: relative;
    }
    .double-img img{
        position: absolute;
        bottom: 0;
    }
    .double-text{
        width:50%;
    }
    #planning .container{
        display: flex;
        flex-flow: row nowrap;
        align-items: end;
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}